.image_back { 
    background-image: url(/public/img/fundo.1.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content:flex-start;
    align-items: center;
    display: flex;
    height: 100vh;
    
    background-size: 102%;
    
    
}

.container-cel {
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 150%;
    box-shadow:  0 0 10px rgba(117, 117, 117, 0.5);
    position: relative;
    
}

.font-cel {
    font-family: helvetica, sans-serif;
    padding-bottom: 30 px;
    font-size: 18px;

}
.btn-numero{
    border-radius: 5px;
    display: flex;
    width: 290px;
    
    
}

.btn-br{
    display: flex;
    border-radius: 10px;
}
.button-send {
    height: 50px;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(220, 220, 220);
    width: 400px;
    font-weight: bold;
    background: #ea1d2c;
}

.confirm-button-cel {
    height: 30px;
    border-radius: 5px;
    background: white;
    color: rgb(79, 121, 73);
    border: 1px solid rgb(220, 220, 220);
    width: 150px;
    font-weight: bold;
}

.button-forget {
    height: 30px;
    border-radius: 5px;
    background: white;
    color: rgb(230, 48, 42);
    border: 1px solid rgb(220, 220, 220);
    width: 160px;
    font-weight: bold;
}

.form-cel{
    height: 50px;
    padding-top: 30px;
    gap: 10px;
    display: flex;
    
}

.button-send:hover{
    background: #f37a83 
}